{
    margin: 0px;
    padding: 0px;
    font-family: 'Nunito', sans-serif;
    
}
.fixed-ban{
    background-image: url(../images/platos/tortitas.jpg)!important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
    height: 370px;
}
.fixed-ban div{
    padding-top: 8%;
    filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.88));
}
.menu-bar {
    background-color: RGBA(255, 250, 250, 0.82);
    backdrop-filter: blur(4px)!important;
}
.nav-link {
    font-size: 16px;
    margin: 3px;
    color: darkslategray!important;
    font-weight: 400;
}
.navbar-nav {
    text-align: right;
    margin-right: 20px;
}
.menu-bar .navbar-toggler {
    padding-right: 20px;
    outline: none!important;
    border: none!important;
}
.navbar .fa {
    color: black!important;
    font-size: 26px;
}
.nav-link:hover {
    font-weight: 600;
}
.navbar-brand img {
    height: 80px;
    margin-top: 5px;
    margin-left: 20px;
    margin-bottom: 5px;
}
@media only screen and (max-width: 1000px){
    .nav-link:hover{
        border-bottom: none!important;
    }
    .fixed-ban{
        height: 400px;
    }
    .fixed-ban div{
        padding-top: 20%;
    }
}
body{
    background-image: url(../images/fondos/old-paper.avif);
    background-repeat: repeat-y;
    background-size: cover
}
.whitebg{
    background-color: RGBA(255, 250, 250, 1);
    border-radius: 3px;
}
.snowtext{
    color: snow!important;
}
.darktext{
    color: darkslategray!important;
}
.boldsnowtext{
    color: snow!important;
    font-weight: 600;
}
hr{
    border-top: 1px solid snow!important;
    border-color: darkslategray!important;
}
footer{
    color: snow;
}
.pics{
    border-radius: 5px;
}
.btn-light{
    font-weight: 500!important;
}
.himg:hover{
    
    width: 1000px!important;
}
.custom_link{
    color: #EA488C
}
.custom_link:hover{
    color: #8B4E90;
    font-weight: 500;
    text-decoration: none;
    color:white
}
.custom_img:hover{
    color: black!important;
}
.effect_button_dark{
    border: none!important;
    border-radius: 1000px!important;
    background-image: linear-gradient(-90deg, #9a6f63, #4a3e3b);
    box-shadow: 10px 0px 10px #271c16 inset, -10px 0px 10px #694436 inset;
}
.effect_button_light{
    border: none!important;
    border-radius: 1000px!important;
    background-image: linear-gradient(-90deg, #d3d3d3, snow);
    box-shadow: 7px 0px 10px grey inset, -10px 0px 10px whitesmoke inset;
}
.effect_button_dark:hover{
    border: none!important;
    border-radius: 1000px!important;
    background-image: linear-gradient(-90deg, #e5d0c8, #f7e6d7);
    box-shadow: 10px 0px 10px #7b736c inset, -10px 0px 10px #ffeee6 inset;
    color: #111111!important;
    font-weight: 600!important;
}
.effect_button_light:hover{
    border: none!important;
    border-radius: 1000px!important;
    background-image: linear-gradient(-90deg, #111111, #4B4B4B);
    box-shadow: 10px 0px 10px #171717 inset, -10px 0px 10px #494949 inset;
    color: whitesmoke!important;
    font-weight: 600;
}
.white-logo{
    text-align: center;
    padding: 20px;
}
.white-logo img{
    height: 200px;
}
.media-container{
    text-align: center;
}
.media-icon{
    padding: 30px!important;
}
.media-icon img{
    width: 100px
}
.media-icon:hover {
    transform: scale(1.2)
}
.scroll-logo{
    height: 600px;
    background-image: url(../images/bedfast_logo_ver_white.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    background-attachment: fixed;
}